@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    font-family: 'Raleway',sans-serif;
}

.custom-img {
    background-image: url("https://media.istockphoto.com/photos/compliance-rules-and-law-regulation-policy-concept-businessman-on-picture-id1363406033");
}
